@charset "UTF-8";
@import url(./src/css/base/reset.css);
@import url(./src/css/pages/intro.css);
@import url(./src/css/pages/header.css);
@import url(./src/css/pages/about.css);
@import url(./src/css/pages/project.css);
@import url(./src/css/pages/work.css);
@import url(./src/css/pages/footer.css);
@import url(./src/css/base/vars.css); /* font, root style */

/* ========================== */
/* 공통 스타일만*/
/* ========================== */
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--mainBg-color);

  cursor: none;
  scrollbar-width: 1px;
  position: relative;
  font-size: 10px;
  line-height: 1.2;
}
*,
*::before,
*::after {
  box-sizing: border-box; /*  크기 계산에 border 포함 */
}
main {
  position: relative;
  overflow-x: hidden;
}
a {
  cursor: none;
}
/* -------------------------------------------------------------------------------- */
/* cursor -------------------- */
#custom_cursor {
  padding: 5px;
  border-radius: 50%;
  /* background: rgba(255, 255, 255, .6); */
  /* mix-blend-mode: difference; */
  background: var(--main-color);
  /* filter: blur(5px); */
  pointer-events: none;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 99999;
  transition: padding 0.3s;
}

#custom_cursor.on {
  padding: calc(100px / 2);
}
#custom_cursor.on span {
  height: 12px;
  transform: translateY(-30px);
}

#custom_cursor.dragging {
  background: rgba(255, 0, 0, 0.5); /* 드래그 중 빨간색 반투명 */
  transform: scale(1.2); /* 크기를 키움 */
}
@media screen and (max-width: 700px) {
  body {
    cursor: none;
  }
}
/* 커서 모양내기 */
/* #custom_cursor span::before,
#custom_cursor span::after{
  content: "";
  display: block;
  width: 5px;
  height:10px;
  position: absolute;
  top:50%;
  margin-top:-17px;
  background: #000;
  border-radius: 999px;
  mix-blend-mode:hard-light;
}#custom_cursor span{
  display: block;
  width:17px;
  height:5px;
  border-radius: 0 0 99px 99px;
  background: #000;
  position: absolute;
  bottom:50%;
  left:0;
  right:0;
  margin: 0 auto;
  margin-bottom:-7px;
  transition: transform 0.3s;
}
#custom_cursor span::before{
  left:50%;
  margin-left: -10px;
}
#custom_cursor span::after{
  right:50%;
  margin-right: -10px;
} */
/* -------------------------------------------------------------------------------- */
/* line--------------------------- */
.body_line {
  pointer-events: none;
  display: block;
  position: absolute;
  inset: 0 40px;
  margin: auto;
  /* z-index: -1; */
}
.h-line {
  background-color: var(--black600);
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
}
@media only screen and (max-width: 700px) {
  .body_line {
    pointer-events: none;
    display: block;
    position: absolute;
    inset: 0 20px;
    /* z-index: -1; */
  }
  .h-line {
    background-color: var(--black600);
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  .body_line .left {
    left: 0;
  }

  .body_line .left-middle {
    left: 25%;
    display: none;
  }

  .body_line .center {
    left: 50%;
    display: none;
  }

  .body_line .right-middle {
    display: none;
    right: 25%;
  }

  .body_line .right {
    right: 0;
  }
}
@media only screen and (min-width: 701px) {
  .body_line .left {
    left: 0;
  }

  .body_line .left-middle {
    left: 25%;
    display: none;
  }

  .body_line .center {
    left: 50%;
  }

  .body_line .right-middle {
    display: none;
    right: 25%;
  }

  .body_line .right {
    right: 0;
  }
}
@media only screen and (min-width: 1000px) {
  .body_line .left {
    left: 0;
  }

  .body_line .left-middle {
    left: 33.333333%;
    display: block;
  }

  .body_line .center {
    left: 50%;
    display: none;
  }

  .body_line .right-middle {
    display: block;
    /* display: none; */
    right: 33.333333%;
  }

  .body_line .right {
    right: 0;
  }
}
@media only screen and (min-width: 1300px) {
  .body_line .left {
    left: 0;
    /* z-index: 1; */
  }

  .body_line .left-middle {
    left: 25%;
  }

  .body_line .center {
    left: 50%;
    display: block;
  }

  .body_line .right-middle {
    right: 25%;
  }

  .body_line .right {
    right: 0;
  }
}
/* -------------------------------------------------------------------------------- */
/* section -------------------- */
section {
  background: var(--mainBg-color);
}
section {
  width: 100%;
  /* padding: 10rem 5% 0; */
}
@media only screen and (min-width: 701px) {
  section:not(#about) {
    min-height: 900px;
  }
}
/* -------------------------------------------------------------------------------- */
/*  sect_title ---------------------- */
.sect_title {
  gap: 30px;
  position: relative;
  align-items: center;
  color: var(--black700);
}
.sect_title h2 {
  width: 100%;
  /* padding: 40px 0; */
  grid-column: 2;
  line-height: 1;
  text-transform: uppercase;
  font-family: var(--subEng-font);
  font-weight: 900;
}
@media only screen and (max-width: 700px) {
  .sect_title {
    display: block;
    text-align: center;
  }
  .sect_title h2 {
    /* padding: 20px 0px; */
    font-size: 2.4rem;
  }
}
@media only screen and (min-width: 701px) {
  .sect_title {
    /* padding: 20px 40px; */
    border: 1px solid #000;
  }
  #project .sect_title {
    /* display: grid; */
    grid-template-columns: repeat(12, 1fr);
    gap: 2%;
  }
  #project .sect_title h2 {
    grid-column: 2/7;
    padding-left: 10%;
    font-size: 2.4rem;
  }
}
@media only screen and (min-width: 1000px) {
  #project .sect_title h2 {
    grid-column: 4/8;
  }
  .sect_title h2 {
    font-size: 1.5rem;
  }
  #project .sect_title h2 {
    grid-column: 4/7;
    padding-left: 0;
  }
  .sect_title .title_info {
    grid-column: 8/12;
  }
}
/* @media only screen and (min-width: 1400px) {
  .sect_title h2 {
    grid-column: 4/7;
  }
  .sect_title .title_info {
    grid-column: 7/12;
  }
} */
/* -------------------------------------------------------------------------------- */
/* 위로가기 버튼 ---------------------- */
.up_btn {
  /* display: none; */
  width: 80px;
  height: 80px;
  border: 1px solid #000;
  background: var(--main-color);
  cursor: pointer;

  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;

  /* display: flex; */
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  font-weight: 900;
}
.up_btn:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 255, 0.2);
  color: var(--white);
}
/* -------------------------- */
/* ::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: gray;
}

::-webkit-scrollbar-track {
  background: lightgray;
} */
/* -------------------------------------------------------------------------------- */
/* 모바일용 메뉴 햄버거 */
.header__logo_mobile {
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  /* padding-bottom: 40px; */
}
/* 모바일 메뉴 */
nav.header__mobile {
  width: 100%;
  padding: 10px;
  position: fixed;
  left: 50%;
  top: -100%;
  transform: translateX(-50%);
  transition: 0.5s ease;
  z-index: 1001;
}
nav.header__mobile .inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  background: var(--main-color);
  border-radius: 20px;
}
nav.header__mobile .inner ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--white);
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
}
/* 모바일 메뉴bg의 반투명 */
.header__mobile_filter {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
}
.header__mobile_filter.on {
  opacity: 1;
  /* on일 땐 배경이 클릭되면 안되니까!! */
  pointer-events: visible;
}
/*  */
nav.header__mobile.on {
  top: 0;
}
nav.header__mobile.on ul li a.on {
  color: var(--white);
}
nav.header__mobile ul li a {
  position: relative;
  opacity: 1;
  transition: opacity 0.5s ease, color 0.5s ease; /* opacity와 color에 대해 부드러운 전환 효과 추가 */
}
nav.header__mobile ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--white);
  position: absolute;
  right: 0;
  bottom: -2px;
  transition: width 0.5s ease; /* width에 대한 전환 효과 */
}
nav.header__mobile ul li a:hover::after {
  width: 100%;
  left: 0;
}
nav.header__mobile ul li a:hover {
  color: var(--white);
  opacity: 1;
}
/* closeBtn */
.close {
  width: 60px;
  height: 60px;
  margin: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.close_icon {
  position: relative;
  width: 30px;
  height: 30px;
  z-index: 10;
}
.close_icon::before,
.close_icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  background: var(--white);
  transform-origin: center;
}
.close_icon::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.close_icon::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.close_bg_blend {
  width: 100%;
  height: 100%;
  background: var(--main-color);
  mix-blend-mode: multiply;
  opacity: 0;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5),
    inset 1 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}
.close:hover .close_bg_blend {
  opacity: 0.5;
}

/* work가 올라오면 project가 어두워지게 */
