.c-stacking_trigger {
  position: sticky;
  top: 0;
  z-index: 1;
}

.is-inview {
  z-index: 2;
}

#project {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--black200_txt);
}
#project .swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
#project .swiper-slide {
  font-size: 18px;
  height: calc((100% - 30px) / 2) !important;
  border: none;
}
#project .swiper-slide a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}
#project .swiper-slide a.bg-img {
  width: 100%;
}
#project .swiper-slide a.bg-img img {
  width: 100%;
}
#project .swiper-slide h4 {
  font-weight: 500;
}
#project .swiper-slide h4 a {
  display: block;
}
#project .sect_inner {
  margin: auto;
}
#project .sect__wrap {
  display: none;
}

@media only screen and (max-width: 700px) {
  #project {
    height: 800px;
    padding: 20px 10px;
  }
  #project .sect_inner {
    width: 90%;
  }
  #project .sect_inner .swiper {
    overflow: visible !important;
    padding-top: 20px;
    border: 1px solid #000;
    height: 550px;
  }
  #project .sect_inner .swiper .swiper-slide {
    transition: 0.4s;
  }
  #project .sect_inner .swiper .swiper-slide .bg-img {
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4392156863);
  }
  #project .sect_inner .swiper .swiper-slide .bg-img img {
    filter: grayscale(1);
    transition: 0.4s;
  }
  #project .sect_inner .swiper .swiper-slide.swiper-slide-active {
    margin-bottom: 20px;
    transform: translateY(-20px);
  }
  #project .sect_inner .swiper .swiper-slide.swiper-slide-active .bg-img img {
    filter: grayscale(0);
  }
  #project .sect_inner .swiper .swiper-slide .txt {
    text-align: center;
  }
  #project .sect_inner .swiper .swiper-slide .txt .title {
    font-size: 6vw;
    margin-bottom: 6px;
  }
  #project .sect_inner .swiper .swiper-slide .txt p {
    font-size: 3vw;
    color: #999;
  }
  #project .sect_inner .swiper .pagination-aria {
    width: 100%;
    height: 14px;
    display: block;
    position: relative;
    margin-top: 40px;
    display: block;
    border: 1px solid #000;
  }
  #project .sect_inner .swiper .pagination-aria .swiper-pagination {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  #project .sect_inner .swiper .pagination-aria .swiper-pagination span {
    background: var(--main-color);
    width: 10px;
    height: 10px;
  }
}
@media only screen and (min-width: 701px) {
  #project {
    background: #eee;
  }
  #project .sect_inner {
    width: 90%;
  }
  #project .sect_inner .swiper {
    overflow-y: visible !important;
    padding-top: 20px;
  }
  #project .sect_inner .swiper .pagination-aria {
    width: 100%;
    height: 14px;
    display: block;
    position: relative;
    margin-top: 60px;
  }
  #project .sect_inner .swiper .pagination-aria .swiper-pagination {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  #project .sect_inner .swiper .pagination-aria .swiper-pagination span {
    background: var(--main-color);
    width: 10px;
    height: 10px;
  }
  #project .sect_inner .swiper-slide {
    transition: 0.5s;
  }
  #project .sect_inner .swiper-slide:hover {
    transform: translateY(-10px);
  }
  #project .sect_inner .swiper-slide:hover .bg-img {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3137254902);
  }
  #project .sect_inner .swiper-slide .bg-img {
    margin-bottom: 20px;
    transition: 0.4s;
  }
  #project .sect_inner .swiper-slide .txt .title {
    font-size: 2.8rem;
    margin-bottom: 6px;
  }
  #project .sect_inner .swiper-slide .txt p {
    font-size: 16px;
    color: #999;
  }
}/*# sourceMappingURL=project.css.map */