@mixin po-c {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@mixin flex-c($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}
.c-stacking_trigger {
  position: sticky;
  top: 0;
  z-index: 1;
}

.is-inview {
  z-index: 2;
}
//
#project {
  // display: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--black200_txt);
  .sect_inner {
    width: 100%;
    .sect__wrap {
      // overflow: hidden;
      position: relative;
      .article_box {
        position: relative;
        left: 0;
        top: 0;
        // transition: .3s;
        article.sect__item {
          background-color: var(--mainBg-color);
          border-top: 1px solid var(--black700);
          border-bottom: 0;
          // border-image: url(/src/img/line.jpg) 30;
          // border-image-repeat: repeat;
          &.s3 {
            .visual{
              .img_bg {
                img {
                  width: 80%;
                }
              }
            }
          }
          .header__title {
            position: relative;
            .num {
              line-height: 1;
              font-family: "Binggrae";
            }
            h3 {
              line-height: 1;
            }
          }
          .info {
            .txt {
              font-weight: 400;
              letter-spacing: -0.3px;
              text-align: justify;
              // border-right: 1px solid #000;
              span {
                font-weight: 700;
              }
            }
          }
          a {
            display: inline-block;
            transition: 0.3s;
            border: 1px solid #000;
            &.view_btn {
              margin-right: 10px;
              i {
                padding-left: 10px;
              }
              &:hover {
                background: var(--black);
                color: var(--white);
              }
            }

            &.plan {
              border: none;
              font-weight: 800;
              // border: 1px solid var(--black800);
              // background: var(--black800);
              transition: 0.5s;
              &::after {
                content: "";
                transition: 0.5s;
                opacity: 0;
                font-family: "Pretendard Variable";
                color: var(--main-color);
                // mix-blend-mode:difference;
              }
              &:hover {
                color: var(--main-color);
                &::after {
                  content: "->";
                  padding-left: 5px;
                  opacity: 1;
                }
                // background: var(--black800);
                // mix-blend-mode:difference;
              }
            }
          }
          .visual {
            width: 100%;
            height: 0;
            background: var(--black900);
            position: relative;
            overflow: hidden;
            .img_bg {
              @include po-c();
              @include flex-c();
              transition: 0.3s;
              // border-radius: 5px;
              // img {
              //   animation: rotateImage 2s infinite linear;
              // }
            }
            // @keyframes rotateImage {
            //   0% {
            //     transform: rotate(0deg);
            //   }
            //   25% {
            //     transform: rotate(5deg);
            //   }
            //   50% {
            //     transform: rotate(0deg);
            //   }
            //   75% {
            //     transform: rotate(-5deg);
            //   }
            //   100% {
            //     transform: rotate(0deg);
            //   }
            // }
          }
        }
      }
    }
  }
}

// =========================================================================================
@media only screen and (max-width: 700px) {
  #project {
    .sect_inner {
      width: 100%;
      // min-height: 300vh;  
      overflow: hidden;

      .sect__wrap {
        article.sect__item {
          height: auto;
          display: flex;
          flex-direction: column;
          padding: 1.5em 20px;
          .header__title {
            .num {
              font-size: 0.75rem;
              color: var(--black600);
              // display: none;
            }
            h3{
              font-size: 1.5rem;
              padding-top: 10px;
              font-weight: 500;
            }
          }
          .info {
            padding-top: 30px;
            .txt {
              width: 100%;
              font-size: .75rem;
              line-height: 1.2rem;
            }
          }
          a {
            margin-top: 40px;
            padding: 5px 30px;
            font-size: .75rem;
            font-weight: 600;
            // &.view_btn {
            //   background: var(--black);
            //   color: var(--white);
            // }
          }
          .visual {
            margin-top: 40px;
            padding-top: 70%;
            width: 100%;
            background: var(--sBg-color);
            // background: var(--black900);
            position: relative;
            .img_bg {
              border-radius: 5px;
              @include po-c();
              @include flex-c();
              filter: grayscale(0%); // 여긴 컬러
              transition: 0.3s;
              img {
                width: 80%;
                animation: rotateImage 2s infinite linear;
              }
            }
          }
        }
      }
    }
  }
}
// -----------------------------------------------------------------------------------
@media only screen and (min-width: 701px) {
  #project {
    .sect_inner {
      width: 100%;

      .sect__wrap {
        overflow: hidden;
        article.sect__item {
          display: grid;
          grid-template-columns: repeat(12, 1fr);
          grid-template-rows: auto 1fr;
          column-gap: 2%;
          padding: 2em 40px;
          .header__title {
            display: flex;
            grid-column: 1/9;
            padding-bottom: 12px;
            .num {
              font-size: 0.75rem;
              width: 20%;
              padding-top: 5px;
            }
            h3 {
              font-size: 1.75rem;
              font-weight: 500;
            }
          }
          .info {
            grid-column: 2/8;
            padding-left: 10%;
            padding-top: 40px;
            .txt {
              line-height: 1.5rem;
              font-size: .8rem;
              width: 110%;
            }
          }
          a {
            margin-top: 30px;
            padding: 5px 20px;
            font-size: 0.75rem;
          }
          .visual{
            height: 0;
            padding-top: 120%;
            grid-column: 9/13;
            grid-row-start: 1;
            grid-row-end: 3;
            .img_bg{
              filter: grayscale(100%);
              img{
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
// -----------------------------------------------------------------------------------
@media only screen and (min-width: 1000px) {
  #project {
    .sect_inner {
      .sect__wrap {
        position: relative;
        .article_box {
          article.sect__item {
            grid-template-columns: repeat(12, 1fr);
            &.s3 {
              .s_img {
                .img_bg {
                  img {
                    width: 60%;
                  }
                }
              }
            }
            .header__title {
              grid-column: 1/10;
              margin-bottom: 20px;
              padding-bottom: 10px;
              .num {
                font-size: 1rem;
                width: 23%;
              }
              h3 {
                font-size: 2.5rem;
              }
            }
            .info {
              padding-left: 0;
              grid-column: 3/10;
              padding-top: 20px;
              .txt {
                width: 90%;
              }
            }
            .visual {
              height: 0;
              padding-top: 140%;
              grid-column: 10/13;
              grid-row-start: 1;
              grid-row-end: 3;
              // border: 1px solid #000;
            }
          }
        }
      }
    }
  }
}
// -----------------------------------------------------------------------------------
@media only screen and (min-width: 1400px) {
  #project {
    .sect_inner {
      .sect__wrap {
        .article_box {
          article.sect__item {
            // padding: 40px;
            &.s3 {
              .s_img {
                .img_bg {
                  img {
                    width: 60%;
                  }
                }
              }
            }
            .header__title{
              .num {
                font-size: 1rem;
              }
              h3 {
                font-size: 2.5rem;
              }
            }
            .info {
              padding-top: 60px;
              .txt{
                font-size: 1.2rem;
                line-height: 2rem;
              }
            }
            a {
              margin-top: 60px;
              padding: 10px 30px;
              font-size: 1rem;
              transition: 0.3s;
            }
          }
        }
      }
    }
  }
}
