@mixin po-c {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@mixin flex-c($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

#work {
  // margin-top: 70px;
  color: var(--black200_txt);
  position: relative;
  padding-bottom: 40px;
  // margin-bottom: var(--footer-spacing);
  border-top: 1px solid var(--black700);
  z-index: 2;
  .sect_inner {
    margin: auto;
    .filter {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font-weight: 300;
      }
      ul {
        li {
          a {
            display: inline-block;
            border-radius: 20px;
            border: 1px solid #999;
            color: #999;
            font-weight: 300;
            &.on {
              background: #111;
              border: 1px solid #111;
              color: #fff;
              font-weight: 500;
            }
          }
        }
      }
    }
    .item-box {
      .left,
      .right {
        width: 100%;
      }
      .item {
        border-radius: 20px;
        background: #fff;
        
        &:not(:last-child) {
          margin-bottom: 20px;
        }
        &:hover{
          outline: 1px solid #333;
        }
        &.on {
          outline: 1px solid #333;
          box-shadow: 0 2px 15px #00000010;
          .title {
            h4 {
              a {
                padding-left: 20px;
                font-weight: 800;
                color: var(--main-color);
                &::after {
                  width: 15px;
                  opacity: 1;
                }
              }
            }
            .plus-icon {
              transform: rotate(45deg);
            }
          }
          .info {
            max-height: auto;
          }
        }
        .title {
          @include flex-c(space-between);
          transition: 0.3s;
          h4 {
            font-weight: 600;
            a {
              display: inline-block;
              @include flex-c();
              position: relative;
              transition: 0.3s ease;
              &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                height: 2px;
                width: 0;
                background: var(--main-color);
                opacity: 0;
                transition: 0.3s ease;
              }
              span {
                font-weight: 300;
                color: #999;
              }
            }
          }
          .plus-icon {
            @include flex-c();
            transform: rotate(0);
            transition: 0.3s;
            span {
              width: 100%;
              height: 2px;
              position: relative;
              background: #333;
              border-radius: 10px;
              &::after {
                content: "";
                position: absolute;
                transform: rotate(90deg);
                width: 100%;
                height: 2px;
                background: #333;
                border-radius: 10px;
              }
            }
          }
        }
        .info {
          padding-top: 0;
          max-height: 0;
          width: 100%;
          overflow: hidden;
          transition: 0.3s;
          .img-box {
            width: 100%;
            img {
              width: 100%;
            }
          }
          .txt {
            font-weight: 200;
          }
          .filter-tag {
            @include flex-c(space-between);
            ul {
              display: flex;
              li {
                color: #999;
                border-radius: 20px;
                background: rgba(0, 0, 0, 0.05);
              }
            }
          }
          .date {
            color: #999;
            display: none;
          }
        }
      }
    }
  }
}

// // ***************************************************************************************************************************
// 모바일에서는 호버가 힘드니 호버가 없다고 생각하고 만들 것
@media only screen and (max-width: 700px) {
  #work {
    .sect_inner {
      max-width: 90%;
      .filter {
        margin-top: 40px;
        p {
          font-size: 3.4vw;
        }
        ul {
          display: flex;
          gap: 10px;
          li {
            a {
              padding: 5px 20px;
              font-size: 3.4vw;
            }
          }
        }
      }
      .item-box {
        margin-top: 40px;
        gap: 20px;
        .left {
          .item:nth-child(4) {
            margin-bottom: 10px;
          }
        }
        .item {
          padding: 20px;
          &:not(:last-child) {
            margin-bottom: 10px;
          }
          &.on {
            .title {
              margin-bottom: 20px;
            }
            .info {
              max-height: auto;
            }
          }
          .img-box {
            border: 1px solid #000;
            margin-bottom: 10px;
          }
          .title {
            h4 {
              font-size: 4vw;
              a {
                padding: 10px 0;
                gap: 10px;
                span {
                  font-size: 2.8vw;
                }
              }
            }
            .plus-icon {
              width: 40px;
              height: 40px;
              padding: 10px;
            }
          }
          .info {
            padding-top: 0;
            max-height: 0;
            .txt {
              font-size: 3vw;
              margin-bottom: 30px;
            }
            .filter-tag {
              ul {
                gap: 10px;
                li {
                  font-size: 2.8vw;
                  padding: 6px 20px;
                }
              }
            }
            .date {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
//----------------------------------------------------------------------
@media only screen and (min-width: 701px) {
  #work {
    .sect_inner {
      max-width: 90%;
      .filter {
        margin-top: 40px;
        p {
          font-size: 2rem;
        }
        ul {
          display: flex;
          gap: 10px;
          li {
            a {
              padding: 5px 20px;
              font-size: 2rem;
            }
          }
        }
      }
      .item-box {
        margin-top: 40px;
        display: flex;
        gap: 20px;
        .item {
          padding: 30px;
          &:not(:last-child) {
            margin-bottom: 20px;
          }
          &.on {
            .title {
              margin-bottom: 20px;
              .plus-icon {
                transform: rotate(45deg);
              }
            }
          }
          .title {
            h4 {
              font-size: 2rem;
              a {
                padding: 10px 0;
                gap: 10px;
              }
            }
            .plus-icon {
              width: 40px;
              height: 40px;
              padding: 10px;
            }
          }
          .info {
            .txt {
              font-size: 16px;
              margin-bottom: 40px;
            }
            .filter-tag {
              ul {
                display: flex;
                gap: 10px;
                li {
                  font-size: 14px;
                  padding: 6px 20px;
                }
              }
              a {
                display: inline-block;
                height: 100%;
                // width: 25px;
                font-size: 14px;
                padding: 6px 20px;
                border-radius: 20px;
                border: 1px solid #000;
                background: #333;
                color: #fff;
                svg {
                  display: none;
                  stroke: #333;
                }
              }
            }
            .date {
              font-size: 16px;
              display: none;
            }
          }
        }
      }
    }
  }
}
//----------------------------------------------------------------------
// @media only screen and (min-width: 1000px) {
//   #work {
//     .sect_inner {
//     }
//   }
// }
// //----------------------------------------------------------------------
@media only screen and (min-width: 1300px) {
  #work {
    .sect_inner {
      max-width: 1500px;
      .item-box {
        margin-top: 40px;
        .item {
          padding: 40px 30px;
          &:not(:last-child) {
            margin-bottom: 20px;
          }
          .title {
            h4 {
              font-size: 2rem;
              a {
                padding: 10px 0;
                gap: 10px;
              }
            }
            .plus-icon {
              width: 40px;
              height: 40px;
              padding: 10px;
            }
          }
        }
      }
    }
  }
}
