@mixin po-c {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@mixin flex-c($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

#work {
  // margin-top: 70px;
  color: var(--black200_txt);
  position: relative;
  padding-bottom: 40px;
  // margin-bottom: var(--footer-spacing);
  border-top: 1px solid var(--black700);
  z-index: 2;
  .sect_inner {
    height: auto;
    display: block;
    .sect_title{
      border-bottom: 1px solid var(--black700);
    }
    .swiper_list {
      .list_border {
        border-bottom: 1px solid var(--black600);
        background: var(--mainBg-color);
        padding: 10px;
        position: relative;
        @include flex-c(space-between);
        .svgs {
          display: flex;
          gap: 5px;
          .phone_svg {
            display: flex;
            align-items: center;
          }
        }
      }
    }
    .swiper_box {
      position: relative;
      .swiper-slide {
        border-bottom: none;
        padding-top: 40%;
        pointer-events: auto;
        overflow: hidden;
        transition: 0.2s;
        position: relative;
        a {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          .summary {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .txt {
              text-align: center;
              padding: 0px 10% 0;
              transform: translateY(22%);
              transition: 0.3s;
              .w_num {
                color: var(--black700);
                font-family: "MAZIUS";
                &.colNo {
                  color: transparent;
                }
              }
              .title {
                font-weight: 600;
                line-height: 1;
                // color: var(--black400);
              }
              .info {
                color: var(--black600);
                opacity: 0;
                transition: 0.3s;
              }
            }
            // .Responsive {
            //   width: 100px;
            //   margin: auto;
            //   padding: 5px 15px;
            //   border-radius: 99px;
            //   transform: translateY(290%);
            //   color: #9e1d1d;
            //   transition: 0.3s;
            //   text-align: center;
            //   color: var(--black200_txt);
            //   position: relative;
            //   z-index: 1;
            //   background-color: rgba($color: #f5f5f5, $alpha: 0.4);
            //   -webkit-backdrop-filter: blur(3px);
            //   backdrop-filter: blur(3px);
            // }
            .logo_img {
              @include flex-c();
              transition: 0.3s;
              transform: translateY(-35px);
            }
          }
        }

        &.slide1 {
          .logo_img {
            img {
              width: 90%;
              transform-origin: center;
            }
          }
        }
        &.slide2 {
          .title {
            text-transform: uppercase;
            // font-family: 'Figue_Regular';
            // letter-spacing: 2px
          }
          .logo_img {
            img {
              width: 75%;
              transform-origin: center;
            }
          }
        }
        &.slide3 {
          .title {
            text-transform: uppercase;
            // font-family: "PbykFmXiEBPT4ITbgNA5Cgm20xz64px_1hVWr0wuPNGmlQNMEfD4.106";
          }
          .logo_img {
            img {
              width: 80%;
              // transition: transform .5s;
              transform-origin: center;
            }
          }
        }
        &.slide4 {
          .frame__box {
            filter: grayscale(1);
            transition: 0.3s;
            width: 100%;
            height: 300px;
            position: relative;
            @include flex-c();
            transform: translateY(-35px);
            .frame {
              // padding-top: 12%;
              width: 65%;
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
              opacity: 0;
              &.active {
                opacity: 1; /* 활성화된 프레임만 보임 */
              }
            }
          }
        }
      }
      .swiper_btn {
        display: none;
        // pointer-events: none;
        // @include flex-c(space-between);
        @include po-c();
        z-index: 1;
        // pointer-events: none;
        height: 0;
        // border: 1px solid #000;

        .btn_box {
          position: auto;
          width: 80px;
          height: 80px;
          position: relative;
          .swp_btn {
            display: none;
            height: 80px;
            width: 80px;
            @include flex-c();
            @include po-c();
            background: #f5f5f5;
            color: #000;
            border: 1px solid var(--black200_txt);
            border-radius: 99px;
            // border-radius: 50%;
            cursor: pointer;
            &:hover {
              &.swp_btn.swiper-button-prev::after {
                border: solid var(--main-color);
                border-width: 0 3px 3px 0;
              }
              &.swp_btn.swiper-button-next::after {
                border: solid var(--main-color);
                border-width: 0 3px 3px 0;
              }
            }
          }
          .swp_btn.swiper-button-prev::after {
            width: 2px;
            height: 2px;
            content: "";
            display: block;
            border: solid var(--black200_txt);
            border-width: 0 2px 2px 0;
            padding: 8px;
            position: absolute;
            top: 50%;
            left: 55%;
            transform: translate(-50%, -50%) rotate(135deg);
          }
          .swp_btn.swiper-button-next::after {
            width: 2px;
            height: 2px;
            content: "";
            display: block;
            border: solid var(--black200_txt);
            border-width: 0 2px 2px 0;
            padding: 8px;
            position: absolute;
            top: 50%;
            left: 45%;
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }
    }
    .list_box {
      padding: 0 40px;
      ul {
        // border-left: .5px solid var(--black600);
        // border-right: .5px solid var(--black600);
        li {
          position: relative;
          overflow: hidden;
          background-position: right center;
          background-repeat: no-repeat;
          a {
            display: block;
            width: 100%;
            position: relative;
            background: var(--mainBg-color);
            color: var(--black600);
            transition: 0.5s ease;
            .ex{
              word-break: keep-all;
            }
          }
        }
      }
    }
  }
}

// // ***************************************************************************************************************************
// 모바일에서는 호버가 힘드니 호버가 없다고 생각하고 만들 것
@media only screen and (max-width: 700px) {
  #work {
    .sect_inner {
      .body_line {
        display: none;
      }
      .swiper_box {
        // padding: 0 20px;
        .swiper {
          margin-top: -50px;
          padding-top: 50px;
          .swiper-slide {
            position: relative;
            min-height: 280px;
            height: 40vh;
            background: var(--black);
            .summary {
              padding-top: 4%;
              .txt {
                transform: translateY(20%);
                .w_num {
                  font-size: 0.75rem;
                  color: var(--black600);
                  padding-bottom: 10px;
                }
                .title {
                  font-size: 2rem;
                  // color: var(--black700);
                  color: var(--mainBg-color);
                }
                .info {
                  padding-top: 15px;
                  opacity: 1;
                  white-space: nowrap;
                  font-size: 0.75rem;
                  line-height: 1.5;
                }
              }
              .logo_img {
                margin-top: 20%;
                img {
                  filter: invert(0.5);
                }
              }
            }
            &.slide4 {
              .frame__box {
                margin-top: 18%;
                .frame {
                  opacity: 0.4;
                  &#frame2,
                  &#frame3,
                  &#frame4,
                  &#frame5 {
                    display: none;
                  }
                }
              }
            }
          }
        }
        .swiper_btn {
          width: 100%;
          .btn_box {
            .swp_btn {
              width: 50px;
              height: 50px;
            }
          }
        }
      }
      .list_box {
        padding: 0;
        li {
          padding: 0 20px;
          border-bottom: 1px solid var(--black800);
          a {
            padding: 30px 0;
            // height: auto;
            // .list_grid {
            //   @include flex-c(space-between);
            //   width: 100%;
            //   .w_num {
            //     font-size: 0.75rem;
            //     width: 30%;
            //     display: none;
            //   }
            //   .list_title {
            //     width: 50%;
            //     font-size: 1rem;
            //   }
            //   .right_box {
            //     height: 50px;
            //     @include flex-c(flex-end);
            //     .ex {
            //       font-size: 0.75rem;
            //       text-align: right;
            //     }
            //     .r-poab {
            //       display: none;
            //       // @include flex-c(flex-end);
            //       i {
            //         font-size: 1.25rem;
            //       }
            //     }
            //   }
            // }
            .list_grid {
              width: 100%;
              .w_num {
                display: none;
              }
              .list_title {
                font-size: 1.1rem;
                font-weight: 700;
                padding-bottom: 10px;
                color: var(--black200_txt);
              }
              .right_box {
                .ex {
                  font-size: 1rem;
                  font-weight: 200;
                  line-height: 1.4;
                  color: var(--black200_txt);
                }
              }
            }
          }
        }
      }
    }
  }
}
//----------------------------------------------------------------------
@media only screen and (min-width: 701px) {
  #work {
    .sect_inner {
      .swiper_list {
        padding: 0px 40px;
        // .list_border{
        //   border-right: 1px solid var(--black600);
        //   border-left: 1px solid var(--black600);
        // }
      }
      .swiper_box {
        padding: 0px 40px;
        .swiper {
          .swiper-slide {
            overflow: hidden;
            border-bottom: 1px solid var(--black600);
            .summary {
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .txt {
                text-align: center;
                padding: 0px 10%;
                padding-top: 40px;
                .w_num {
                  font-size: 1rem;
                  padding-bottom: 10px;
                }
                .title {
                  font-size: 3vw;
                  font-weight: 600;
                  // color: var(--black400);
                }
                .info {
                  font-size: 0.75rem;
                  padding-top: 10px;
                  line-height: 1.5;
                }
              }
              .logo_img {
                padding-top: 10%;
                @include flex-c();
                transition: 0.3s;
              }
              .frame__box {
                margin-top: 10%;
                @include flex-c();
                transition: 0.3s;
              }
            }
            &:hover {
              background: #000;
              color: var(--white);
              a {
                .txt {
                  transform: translateY(0);
                  .w_num:not(:even) {
                    color: var(--black300);
                  }
                  .info {
                    opacity: 1;
                  }
                }
                .Responsive {
                  background-color: rgba(255, 255, 255, 0.5);
                  -webkit-backdrop-filter: blur(3px);
                  backdrop-filter: blur(3px);
                  color: var(--white);
                  mix-blend-mode: normal;
                }
              }
              &.slide1,
              &.slide2,
              &.slide3 {
                .logo_img {
                  transform: translateY(-20px);
                  img {
                    filter: invert(1);
                  }
                }
              }
              &.slide4 {
                .frame__box {
                  transform: translateY(-25px);
                  img {
                    filter: invert(1);
                  }
                }
              }
            }
          }
        }
        .swiper_btn {
          width: 100%;
          // display: block;
        }
      }
      .list_box {
        ul {
          // border-top: 1px solid var(--black600);
          li {
            // border-left: 1px solid var(--black600);
            // border-right: 1px solid var(--black600);
            border-bottom: 1px solid var(--black600);
            &.woodam {
              background-color: var(--mainBg-color);
              background-image: url(../../img/work/woodam_logo.png);
              background-position: right 20px center;
              background-size: 20%;
            }
            &.chilsung {
              background-color: #00ab44;
              background-image: url(../../img/work/chil.jpg);
            }
            &.interior {
              background-color: rgb(255, 255, 255);
              background-image: url(../../img/work/logo.jpg);
            }
            &.iPadPro {
              // background-color: rgb(255, 255, 255);
              background-color: var(--mainBg-color);
              background-image: url(../../img/work/Apple_logo_black.svg.png);
              background-position: right 10% center;
              background-size: 6%;
            }
            &.yes24 {
              background-color: rgb(255, 255, 255);
              background-image: url(../../img/work/yes24.jpg);
            }
            a {
              height: 110px;
              .list_grid {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                column-gap: 2%;
                // @include flex-c(space-between);
                align-items: center;
                // &:hover{
                //   border-right: 1px solid #000;
                // }

                &::after {
                  content: "";
                  position: absolute;
                  top: 0;
                  right: -1px;
                  width: 1px;
                  height: 100%;
                  background: var(--black600);
                }
                p {
                  &.w_num {
                    // padding-left: 40px;
                    color: var(--black700);
                    font-weight: 300;
                    font-size: 0.75rem;
                  }
                  &.list_title {
                    font-weight: 600;
                    font-size: 1.5rem;
                    grid-column: 3/5
                  }
                }
                .right_box {
                  width: 100%;
                  height: 50px;
                  padding-right: 40px;

                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  .ex {
                    font-size: 0.75rem;
                  }
                  i {
                    font-size: 1.25rem;
                  }
                }
              }
            }
            // &:hover {
            //   a {
            //     color: var(--black400);
            //     width: 75%;
            //     .w_num {
            //       color: var(--black600);
            //     }
            //     .list_title {
            //       font-weight: 600;
            //       color: var(--main-color);
            //     }
            //     .right_box {
            //       i {
            //         color: var(--main-color);
            //       }
            //     }
            //   }
            // }
          }
        }
      }
    }
  }
}
//----------------------------------------------------------------------
@media only screen and (min-width: 1000px) {
  #work {
    .sect_inner {
      .swiper_box {
        .swiper {
          .swiper-slide {
            padding-top: 27%;
            .summary {
              .title {
                font-size: 2.5vw;
              }
            }
            .logo_img {
              width: 90%;
              margin: auto;
            }
          }
        }
      }
      // .list_box {
      //   ul {
      //     li {
      //       &.woodam {
      //         background-position: right 60px center;
      //         background-size: 20%;
      //       }
      //       &.iPadPro {
      //         background-position: right 13% center;
      //         background-size: 4%;
      //       }
      //       a {
      //         .list_grid {
      //           grid-template-columns: 1fr 1fr 4fr;
      //           .list_title{
      //             font-size: 1.15rem;
      //           }
      //           .right_box{
      //             .ex {
      //               font-size: 16px;
      //             }
      //           }
      //         }
      //       }
      //       &:hover {
      //         a {
      //           width: 66.6666%;
      //         }
      //       }
      //     }
      //   }
      // }
    }
  }
}
//----------------------------------------------------------------------
@media only screen and (min-width: 1300px) {
  #work {
    height: auto;
    .sect_inner {
      .swiper_box {
        .swiper {
          .swiper-slide {
            padding-top: 20%;
            .summary {
              .txt {
                .title {
                  font-size: 2.1vw;
                }
                .info {
                  font-size: 1vw;
                }
              }
            }
            &.slide1 {
              .logo_img {
                padding-top: 12%x;
                img {
                  width: 100%;
                  transform-origin: center;
                }
              }
              &.slide2 {
                .logo_img {
                  padding-top: 12%x;
                  // padding-top: 12px;
                  img {
                    width: 100%;
                  }
                }
              }
            }
          }
          .swiper_btn {
            display: none;
          }
        }
        // .swiper,
        // .list_box ul{
        //   max-width: 1740px;
        //   margin: auto;
        // }
        // .list_box ul{
        //   border-left: 1px solid var(--black600);
        //   border-right: 1px solid var(--black600);
        // }
      }
      // .list_box {
      //   ul {
      //     li {
      //       &.woodam {
      //         background-size: 16%;
      //       }
      //       &.iPadPro {
      //         background-position: right 150px center;
      //         background-size: 4%;
      //       }
      //       a {
      //         .list_grid {
      //           grid-template-columns: 1fr 1fr 2fr;
      //           .list_title{
      //             font-size: 1.25rem;
      //           }
      //         }
      //       }
      //       &:hover {
      //         a {
      //           width: 75%;
      //         }
      //       }
      //     }
      //   }
      // }
    }
  }
}
